body{
    margin: 0;
    padding: 0;
}
.Icono{
    border: 1px solid black;
    padding: 10px;
}
ul{
    padding: 0;
    margin: 0;
    display: none;
}
li{
    list-style: none;
    border: 1px solid black;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}