body{
    margin: 0;
    padding: 0;
}
.Icono{
    border: 1px solid black;
    padding: 10px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    border: 1px solid black;
    padding: 30px 0px;
    width: 100%;
    box-sizing: border-box;
}
.oculto{
    transform: translate(0, -110%);
    transition: all 1s;
}
.visible{
    transform: translate(0, 0);
    transition: all 1s;
}
.sub_menu{
    padding: 5px;
    margin: 10px 0px;
}



.sub_visible{
    display: block;
    margin-top: 20px;
}
.sub_novisible{
    display: none;
}
